@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Connected</title>
    <script>
        localStorage['socialMedia'] = 'T';
        localStorage["firstName"] = '@TempData["FirstName"]';
        localStorage["pictureUrl"] = '@TempData["ProfilePicture"]';
        localStorage["twitter"] = '@TempData["ScreenName"]';
        location.href = '/#/register';
    </script>
</head>
<body>
    <div>
      Hey @TempData["FirstName"]! Click <a href="/#/register">If you are not automatically redirected back to the Sign Up Page.</a>
    </div>
</body>
</html>
