@import url(http://fonts.googleapis.com/css?family=Raleway:500);

body {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif !important;
}

.container {
    margin: 0 auto;
}

#main {
    display: table;
}

.main.container {
    display: table-cell;
    vertical-align: middle;
}

ul {
    list-style: none;
}

    ul li {
        display: inline;
    }

    ul > li {
        padding-left: 10px;
    }

.main_header {
    text-align: center;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    margin-top: 1.618em;
}

    .main_header h1 {
        color: #3892ba;
        font-weight: normal;
    }

.raleway {
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
}

.icon_container {
    background: url(../Images/main_icon.png) no-repeat center 0;
    height: 500px;
}


input[type="text"], input[type="password"] {
    margin-bottom: .5em;
}

a.btn-default {
    display: block;
}

.btn-default {
    border: 1px solid #b3b3b3 !important;
    background: none !important;
    margin-bottom: 1em !important;
}

    .btn-default:hover {
        border: 1px solid #fff !important;
        color: #fff !important;
    }

.btn-none {
    background: none;
}

    .btn-none:hover {
        background: none;
        color: #fff;
    }

#btnFacebook {
    opacity: 0;
}

table.default th, table td {
    border-bottom: none !important;
}

#registerButtons form {
    text-align: center;
}

#registerButtons form span {
    display: block;
    margin-bottom: .7em;
}

#connectButtons table td.icon1,
#connectButtons table td.icon2,
#connectButtons table td.icon3,
#connectButtons table td.icon4 {
    margin: 0;
    vertical-align: top;
}

#connectButtons table td.icon3,
#connectButtons table td.icon4 {
    padding-top: 0 !important;
}

    #connectButtons table td.icon1 button,
    #connectButtons table td.icon2 button,
    #connectButtons table td.icon3 button,
    #connectButtons table td.icon4 button {
        border: none !important;
        box-shadow: none;
    }

#connectButtons table td.icon1 button {
    background: url(../Images/linkedin.png);
    height: 96px;
    width: 99px;
}

#connectButtons table td.icon2 button {
    background: url(../Images/fb.png);
    height: 96px;
    width: 99px;
}

#connectButtons table td.icon3 button {
    background: url(../Images/twitter.png);
    height: 96px;
    width: 99px;
    padding-top: 0 !important;
}

#connectButtons table td.icon4 button {
    background: url(../Images/google.png);
    height: 96px;
    width: 99px;
    padding-top: 0 !important;
}

#connectButtons > div {
    width: 260px;
}

    #connectButtons > div a {
        border: 1px solid silver;
    }

.reg_container {
    margin: 0 auto;
    /*border: 1px solid silver;*/
}

#regForm .label {
    display: block;
    float: left;
    margin-top: 13px;
    text-align: right;
    width: 25%;
}

#regForm input {
    margin-left: 1em;
    margin-bottom: .5em;
}

#regForm select {
    margin-bottom: .5em !important;
    margin-left: 13px;
}

#regForm .img {
    margin-left: 13px;
}

#regForm .submit {
    width: 73%;
    margin: 0 auto;
}

.text-danger, .alert-warning {
    color: #d44950;
}

.text-danger {
    padding-left: 26.5%;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}


@media only screen and (min-width:50px) {
    /*.container {
        border: 1px solid green;
    }*/

    #registerButtons input {
        width: 100%;
    }

    .divider {
        width: 100% !important;
    }

    td {
        width: 100% !important;
    }
}

@media only screen and (max-width:480px) {
    /*.container {
        border: 1px solid pink;
    }*/

    #registerButtons input {
        width: 100%;
    }

    .divider {
        width: 100% !important;
    }

    #connectButtons {
        width: 100%;
    }

    #regForm {
        text-align: center;
    }

        #regForm .label {
            display: none;
        }

    ul {
        margin-left: 0 !important;
    }

        ul li {
            padding-left: 0 !important;
        }

    .text-danger {
        padding-left: 21%;
    }
}

@media only screen and (min-width:768px) {
    /*.container {
        border: 1px solid red;
    }*/

    .reg_container {
        width: 80% !important;
    }

    #registerButtons input {
        width: 60%;
    }

    .divider {
        width: 60% !important;
    }
}

@media only screen and (max-width:992px) {
    /*.container {
        border: 1px solid blue;
    }*/

    .reg_container {
        width: 60% !important;
    }


    #registerButtons input {
        width: 80%;
    }

    .divider {
        width: 80% !important;
    }
}

@media only screen and (min-width:1200px) {
    /*.container {
        border: 1px solid orange;
    }*/

    #registerButtons input {
        width: 40%;
    }

    .divider {
        width: 40% !important;
    }
}

#btnFacebook {
    opacity: 0;
}

table td.icon1sm button {
    background: url(../Images/linkedin_sm.png);
    height: 50px;
    width: 50px;
}

table td.icon2sm button {
    background: url(../Images/fb_sm.png);
    height: 50px;
    width: 50px;
}

table td.icon3sm button {
    background: url(../Images/twitter_sm.png);
    height: 50px;
    width: 50px;
}

table td.icon4sm button {
    background: url(../Images/google_sm.png);
    height: 50px;
    width: 50px;
}
