@{
    Layout = null;
}

<!DOCTYPE html>
<html data-ng-app="symposiumApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- AngularJS -->
    <script src="/Scripts/plugins/angular.js"></script>
    <script src="/Scripts/plugins/angular-route.min.js"></script>
    <!-- Linked In -->
    <script src="/Scripts/linkedin.js"></script>
    <!-- Facebook -->
    <script src="~/Scripts/ngFacebook.js"></script>

    <script type="text/javascript" src="http://platform.linkedin.com/in.js">
		api_key:75dscar65crn9h
		onLoad: onLinkedInLoad
		authorize: true
    </script>
</head>
<body>
    <!-- Placeholder for views -->
    <div data-ng-view=""></div>
    <script src="/Scripts/app.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>
</body>
</html>
